@font-face {
  font-family: 'Josefin Sans Std Regular';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Std Regular'), url('JosefinSansStd-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Josefin Sans Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans Std Light'), url('JosefinSansStd-Light.woff') format('woff');
  }

body {
  margin: 0;
  font-family: "Josefin Sans Std Regular";
  background: linear-gradient(to right, rgb(220, 17, 236), rgb(15, 20, 247));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
